/*=========================================*\
              #CUSTOM PROPERTYS
\*=========================================*/
:root{
    
    /*==Colors==*/
   
       /*-Background-*/
       --Primary-background:   #2B2B2B;
       --Secondary-background: #3B3B3B;
       --Action-timer-bg: rgba(59, 59, 59, 0.5);
   
       /*-Tex-*/
       --Text:                   #ffffff;
       --Footer-text:            #CCCCCC;
       --Coption-and-Label-text: #858584;
   
       /*-Buttons-*/
       --Call-to-action:         #A259FF;
   
       /*-NFT Highlight background-*/
       --Liner-gradient: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
   
   
   /*==Typograpgy==*/
   
       /*-Font family-*/
       --Primary: 'Work Sans', sans-serif;
       --Accesent: 'Space Mono', sans-serif;
   
       /*-Size-*/
       --h1-fs:                     .9rem;
       --Main-header-fs:          1.75rem;
       --Primary-header-fs:       1.75rem;
       --Secondary-header-fs:    1.375rem;
       --Secondary-header-fs-h4: 1.375rem;
       --Auction-header:         2.375rem; 
       --Leading-fs:                 1rem;
       --avatar-name:                1rem;
       --navlinks-fs:                1rem;
       --Accesent-fs:             0.75rem;
       
       
       /*-Weight-*/
       --Primary-header-fw:     600;
       --Secondary-header-fw:   700;
       --Leading-w:             400;
       
       /*-Line height-*/
       --Mian-heading-line-height: 140%;
       --line-height:              140%;
       --Accesent-line-height:     120%;
   
   /*==Paddings && Margins==*/
   
       /*-Padding-*/
       --Sections-pad: 2.1875rem 1.875rem;
       --Nav-pad:      .9375rem 1.875rem;
   
       /*-Margin-*/
       --margin-buttom-main-h: 0.625rem; 
       --margin-buttom-h: 0.625rem;
       --margin-of-20:      1.5rem;
       
   /*==Gap==*/
       --gap-bottom: 2.5rem;
       --tending-gap: 0.9375rem;
       --gap-of-20:  20px;
       --gap-of-30:  30px;
   
   /*==Border radius==*/
       --pic-radius: 20px;
   }
   
   
   /*=========================================*\
                       #RESET
   \*=========================================*/
   *, 
   *::after,
   *::before{
       padding: 0;
       margin:  0;
       box-sizing: border-box;
   }
   
   li{
       list-style: none;
       color: inherit;
   }
   
   a{
       text-decoration: none;
       color: inherit;
   }
   
   button,
   input{
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       background-color: transparent;
       border: none;
       cursor: pointer;
   }
   
   img {
       display: block;
       max-width: 100%;
   }
   
   
   /*=========================================*\
                    #BASE STYLE
   \*=========================================*/
   body{
       background-color: var(--Primary-background);
       color: var(--Text);
       overflow: hidden;
       min-height: 100vh;
       font-family: var(--Primary);
   }
   
   /*--loaded--*/
   .loaded{overflow: visible;}
   
   ::-webkit-scrollbar{width: 1rem;}
   
   ::-webkit-scrollbar-track{
       background-color: var(--Coption-and-Label-text);
       box-shadow: inset 0 0 5px var(--Text);
   }
   
   ::-webkit-scrollbar-thumb{
       background-color: var(--Action-timer-bg);
       border-radius: 4px;
   }
   
   ::-webkit-scrollbar-thumb:hover{background-color: var(--Call-to-action);}
   
   /*--preloader--*/
   .preloader{
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: #A259FF;
       display: grid;
       place-items: center;
       z-index: 6;
   }
   
   .preloader.loaded{display: none;}
   
   .preloader-circle{
       width: 3rem;
       height: 3rem;
       border: 6px solid transparent;
       border-block: 6px solid var(--Text);
       border-radius: 50%;
       animation-name: loading;
       animation-duration: 2s;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
   }
   
   @keyframes loading{
       from{transform: rotate(0);}
       to{transform: rotate(1turn);}
   }
   
   /*=========================================*\
                   #TYPOGRAPHY
   \*=========================================*/
   /****Navigation****/
    /*--logo text--*/
    h1{
        font-family:var(--Accesent);
        font-size: var(--h1-fs);
        font-weight: var(--Primary-header-fw);
    }

    /*--nave links--*/
    .nave li a,
    .nave .sign-up p{
        font-size: var(--navlinks-fs);
        font-weight: var(--Primary);
    }

    h2{
        font-size: var(--Primary-header-fs);
        font-weight: var(--Primary-header-fw);
        line-height: var(--line-height);
    }
    
    p{
        font-size: var(--Leading-fs);
        font-weight: var(--Leading-w);
        line-height: var(--line-height);
    }

    .avatar-name{
        font-size: var(--avatar-name);
        font-weight: var(--Leading-w);
    }
    
    h3{
        font-size: var(--Secondary-header-fs);
        font-weight: var(--Primary-header-fw);
    }

    h4{
        font-size: var(--Secondary-header-fs-h4);
        font-weight: var(--Primary-header-fw);
    }

    /****Hero Section****/
    /*accesent font family on the additional-info*/
    .info li h3{
        font-family: var(--Accesent);
    }
    /****Trending Collection****/
    /* Number of additional NFTs */
    .collection-card .fort-child .number{
        font-family: var(--Accesent);
        font-weight: var(--Secondary-header-fw);
        font-size: var(--Leading-fs);
    }

    /****input and button****/
    input{
        font-family: var(--Primary);
        font-size: var(--Leading-fs);
        font-weight: var(--Leading-w);
    }

/*=========================================*\
                  #REUSED
\*=========================================*/
/*****The grid for the sction containers*/
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* max-width: 375px; */
}

/****The flex for align a text withe logo****/
.items-flex{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

/****The same padding on sections */
section{
    padding: var(--Sections-pad);
}

/****style the buttob links****/
.button a{
    padding-block: 20px;
    justify-content: center;
    border-radius: var(--pic-radius)
}
/****the headlin style****/
/* margin on the bottom of the headlin */
.headlin h2{
    margin-bottom: var(--margin-buttom-h);
}


/*=========================================*\
                 #MOBILE SYLE
\*=========================================*/
    /*##################################\
                #Navegation
    \##################################*/
    .navgation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--Nav-pad);
        position: relative;
        /* I want to make translate afect */
    }

    /*--logo--*/
    /* logo icone */
    .logo img{
        max-width: 1.5rem;
        aspect-ratio: 1/1;
        filter: invert(49%) sepia(65%) saturate(5588%) hue-rotate(243deg) brightness(102%) contrast(101%);
    }
    
    /* the liste of links its by default invisible */
    .nave{display: none;}

    /* syle the menu button */
    #menu{
        width: 1.5rem;
        height: 1.5rem;
        transition: ease-out .04s;
    }
    
    #menu:hover,
    #menu:active{
        filter: invert(49%) sepia(65%) saturate(5588%) hue-rotate(243deg) brightness(102%) contrast(101%);
    }

    /*--nave from JavaScript--*/
    .nave.active{
        display: block;
        position: absolute;
        top: 3.5rem;
        left: 0;
        width: 100%;
        background-color: var(--Secondary-background);
        border-block: 2px solid var(--Text);
        z-index: 4;
        animation-name: translate;
        animation-duration: .1s;
        animation-timing-function: ease-out ;
    }

    @keyframes translate{
        from{height: 230px;}
        to{height: 248px;}
    }
    
    /*--nave links--*/
    .nave .marketplace,
    .nave .rankings,
    .nave .wallet{
        padding-block: 1.25em;
        padding-inline: 2.125em;
        border-bottom: 1px solid #858584;
        transition: ease-in .01ms;
    }

    .nave .marketplace:hover,
    .nave .marketplace:active,
    .nave .rankings:hover,
    .nave .rankings:active,
    .nave .wallet:hover,
    .nave .wallet:active{
        color: var(--Call-to-action);
        box-shadow: inset 0 0 5px var(--Text);
    }

    /*--sign up button*/
    .nave .sign-up{
        margin-left: 2.125em;
    }
    
    .nave .sign-up a{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .75rem;
        background-color: var(--Call-to-action);
        width: 50%;
        max-width: 9.5em;
        padding-block: .5em;
        padding-inline: 1.875em;
        margin-block: .8em;
        border-radius: var(--pic-radius);
        transition: all 300ms ease-out;
    }

    .nave .sign-up a:is(:hover, :active){
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
        transform: scale(.9);
    }

    .sign-up a img{
        width: 1.25rem;
        aspect-ratio: 1/1;
    }



    /*##################################\
                #Hero Section
    \##################################*/
    #hero-section{
        grid-template-rows: min(154px) 1fr max(60px) minmax(57px 77px);
        row-gap: var(--gap-bottom);
    }

    /*-discreption-*/
    .main-headlin{
        grid-column: 1/13;
        grid-row: 1/2;
    }

    .main-headlin .main-heading{
        font-size: var(--Main-header-fs);
        line-height: var(--Mian-heading-line-height);
        margin-bottom: var(--margin-buttom-main-h);
    }

    /*-highlighted-nft-*/
    .highlighted-nft{
        background-color: var(--Secondary-background);
        grid-column: 1/13;
        grid-row: 2/3;
        border-radius:var(--pic-radius);
        width: 100%;
        /* aspect-ratio: 1/1; */
        transition: all .06ms ease-out;
    }

    .highlighted-nft:is(:hover, :active){
        border-radius: var(--pic-radius);
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
        transform: scale(1.03);
    }

    .highlighted-nft .card-img-wrapper{
        overflow: hidden;
        aspect-ratio: 4/2.6;
        border-radius: 20px 20px 0 0;
    } 
    
    .card-img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

    }
    
    .highlighted-nft .info{
        padding: 1.375rem 1.5rem;
        display: block;
    }

    .highlighted-nft .info h4{
        margin-bottom: var(--margin-buttom-h);
    }
    /*artist-card*/

    .highlighted-nft .info .artist-card img{
        width: 1.5rem;
        aspect-ratio: 1/1;
    }

    /*-get-started-btn-*/
    .get-started-btn{
        grid-column:1/13;
        grid-row: 3/4;
    }

    .get-started-btn a{
        background-color: var(--Call-to-action);
        transition: all .06ms ease-out;
    }


    .get-started-btn a:is(:hover, :active){
        border-radius: var(--pic-radius);
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
        transform: scale(.96);
    }

    .get-started-btn a img{
        width: 1.25rem;
        aspect-ratio: 1/1;
    }

    /*-additional-info-*/
    .additional-info{
        grid-column: 1/13;
        grid-row: 4/5;
    }

    .info{
        display: flex;
        justify-content: space-between;
    }

    .info li{
        padding-right: .875rem;
    }



    /*##################################\
            #Trending Collection
    \##################################*/
    #trending-collection{
        grid-template-rows: max(93px) 1fr;
        row-gap: var(--gap-bottom);
    }
    
    /* style the headlin */
    .headlin{
        /* margin-bottom: var(--gap-bottom); */
        grid-column: 1/13;
    }
    
    .sliders{
        grid-column: 1/13;
    }

    /* postion the the fitst slider */
    #first-slider{
        grid-column: 1/13;
        grid-row: 1;
    }

    /*--style collection card--*/
    .collection-card{
        grid-template-rows: 1fr minmax(95px 100px);
        gap: var(--tending-gap);
        margin-bottom: var(--tending-gap);
    }

    .collection-card a{
        transition: all .06ms ease-out;
    }

    .collection-card a:is(:hover, :active){
        border-radius: var(--pic-radius);
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
        transform: scale(1.03);
    }
    /*--Position links and style them--*/
    .collection-card .first-child{
        grid-column: 1/13;
        grid-row: 1/2;
        justify-self: center;
    }

    .collection-card .first-child img{
        width: 100%;
        max-width: 19.6875rem;
        object-fit: cover;
    }

    .collection-card .second-child{
        grid-column: 1/5;
        grid-row: 2/3;
        justify-self: center;
    }

    .collection-card .third-child{
        grid-column: 5/9;
        grid-row: 2/3;
        justify-self: center;
    }

    .collection-card .fort-child{
        grid-column: 9/13;
        grid-row: 2/3;
        justify-self: center;
        aspect-ratio: 1/1;
        background-color: var(--Call-to-action);
        border-radius: var(--pic-radius);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .collection-card .fort-child p{
        font-family: var(--Accesent);
    }

    /* give a width to picturs */
    .collection-card .second-child,
    .collection-card .third-child,
    .collection-card .fort-child{
        width: 100%;
        max-width: 5.9375rem;
    }

    /*add some propertys to collection info*/

    .collection-info  h4{
        margin-bottom: var(--margin-buttom-h);
    }

    .collection-info .artist-card img{
        width: 1.5rem;
        aspect-ratio: 1/1;
    }

    #second-slider{
        display: none;
    }

    #third-slider{
        display: none;
    }

    
    /*##################################\
            #Top Rated Artists
    \##################################*/
    /* display grid for the */
    #Top-Rated-Artists{
        row-gap: var(--gap-bottom);
    }
    /* style top rated artists header */
    .headlin-section{
        grid-column: 1/13;
        grid-row: 1/2;
    }
    /* style top rated artist main  */

    .artist-card-row{
        grid-column: 1/13;
        grid-row: 2/3;
        align-self: flex-start;
        grid-template-rows: auto; 
        row-gap: var(--gap-of-20);
    } 
    
    .artist-card-row li{
        background-color: var(--Secondary-background);
        border-radius: var(--pic-radius);
        padding: 1.25rem;

    }

    .ranck1,
    .ranck2,
    .ranck3,
    .ranck4,
    .ranck5{
        grid-column: 1/13;
    }
    
    .artist-card-row  a{
        display: flex;
        align-items: center;
        column-gap: var(--gap-of-20);
    }

    
    
    .artist-card-row  a div:first-child{
        width: 3.7rem;
        aspect-ratio: 1/1;
        position: relative;
    }

    .artist-card-row li:is(:hover, :active){
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
        transform: scale(1.03);
    }

    .artist-card-row  a div img{
        object-fit: cover;
    }

    [class ^= image]::before{
        content: "1";
        position: absolute;
        top: -0.5625rem;
        left: -0.5625rem;
        background-color: var(--Primary-background);
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--Accesent);
        font-size: var(--Leading-fs);
        font-weight: var(--Leading-w);
        color: var(--Coption-and-Label-text);
        
        
    }
    
    .artist-card-row  a .image2::before{
        content: "2";
    }
    
    .artist-card-row  a .image3::before{
        content: "3";
    }
    
    .artist-card-row  a .image4::before{
        content: "4";
    }
    
    .artist-card-row  a .image5::before{
        content: "5";
    }

    .artist-card-row .artist-info p{
        color: var(--Coption-and-Label-text);
    }

    .artist-card-row .artist-info p span{
        color: var(--Text);
        font-family: var(--Accesent);
        margin-left: .315rem;
    }
    
    .ranck6,
    .ranck7,
    .ranck8,
    .ranck9,
    .ranck10,
    .ranck11,
    .ranck12{
        display: none;
    }

    /* style view rankings button */
    
    .view-rankings-btn{
        grid-column: 1/13;
        grid-row: 3/4;
        align-self: flex-end;
        transition: all 300ms ease-out;
    }
    
    .view-rankings-btn:is(:hover, :active){
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
        transform: scale(.96);
    }
    .view-rankings-btn a{
        border:2px solid var(--Call-to-action);
    }

    .view-rankings-btn img{
        width: 1.25rem;
        aspect-ratio: 1/1;
        filter: invert(49%) sepia(65%) saturate(5588%) hue-rotate(243deg) brightness(102%) contrast(101%);
    }


    /*##################################\
            #Browse Categories
    \##################################*/
    #browse-categories{/*specifying the number of rows*/
        grid-template-rows: max(46px) 1fr;
        row-gap: var(--gap-bottom);
    }

    /*:--headlin--*/
    #browse-categories .headlin{
        grid-column: 1/13;
        grid-row: 1/2;
    }

    /* remove the margin from the bottom of h2 headlin */
    #browse-categories .headlin h2{
        margin-bottom: 0;
    }

    /*--category cards*/
    #browse-categories .category-cards{
        grid-column: 1/13;
        grid-template-rows: auto;
        gap: var(--gap-of-20);
    }
    /* give each categorie a background-color */
    .category-cards li{
        background-color: var(--Secondary-background);
        border-radius: var(--pic-radius);
        transition: all .06ms ease-out;
    }

    /* make each categori interactive when you click on it or hover them */
    .category-cards li:is(:hover, :active){
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
        transform: scale(1.03);
    }

    /* style each element that have this part of class */
    [class ^= pic-container]{
        width: 100%;
        height: 70%;
        border-radius: 1.25rem 1.25rem 0 0;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    /* give the pic container a background image */
    .pic-container1{
        background: url(../assets/Image-placeholder1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
    }
    
    .pic-container2{
        background: url(../assets/Image-placeholder2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;    
    }

    .pic-container3{
        background: url(../assets/Image-placeholder3.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;    
    }

    .pic-container4{
        background: url(../assets/Image-placeholder4.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;    
    }

    .pic-container5{
        background: url(../assets/Image-placeholder5.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;    
    }

    .pic-container6{
        background: url(../assets/Image-placeholder6.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;    
    }

    .pic-container7{
        background: url(../assets/Image-placeholder7.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;    
    }

    .pic-container8{
        background: url(../assets/Image-placeholder8.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center ;
    }
    /* make the pic container background image blur */
    .pic-card{
        background-color: inherit;
        width: 100%;
        height: 100%;
        border-radius: 1.25rem 1.25rem 0 0 ;
        display:flex;
        justify-content: center;
        align-items: center;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }

    /* size the icone */
    .pic-card img{
        min-width: 5rem;
        aspect-ratio: 1/1;
        margin: 1.9375rem 2.1875rem;
    }
    /* style the category text */
    .category{
        padding: 1.25rem 1.25rem 1.5625rem 1.25rem;
    }

    .category p{
        line-height: var(--line-height);
    }

    /* position every category on her position */
    .category-cards .card-1{
        grid-column: 1/7;
        grid-row: 1/2;
    }

    .category-cards .card-2{
        grid-column: 7/13;
        grid-row: 1/2;
    }

    .category-cards .card-3{
        grid-column: 1/7;
        grid-row: 2/3;
    }

    .category-cards .card-4{
        grid-column: 7/13;
        grid-row: 2/3;
    }
    
    .category-cards .card-5{
        grid-column: 1/7;
        grid-row: 3/4;
    }

    .category-cards .card-6{
        grid-column: 7/13;
        grid-row: 3/4;
    }

    .category-cards .card-7{
        grid-column: 1/7;
        grid-row: 4/5;
    }

    .category-cards .card-8{
        grid-column: 7/13;
        grid-row: 4/5;
    }


    /*##################################\
            #Discover more NFTs
    \##################################*/
    /* specifying the number of rows and the gape */
    #discover-more-NFTs{
        grid-template-rows: auto;
        row-gap: var(--gap-bottom);
    }

    /* position the headlin */
    #discover-more-NFTs .headlin{
        grid-column: 1/13;
        grid-row: 1/2;
    }
    /* position ul */
    .frame{
        grid-column: 1/13;
        grid-row: 2/3;
        gap: var(--gap-of-20);
    }

    /* give the background to li and style the cards */
    .frame li{
        background-color: var(--Secondary-background);
        border-radius: var(--pic-radius);
        transition: all .06ms ease-out;
    }
    
    /* make the card bet interactive */
    .frame li:is(:hover, :active){
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
        transform: scale(1.03);
    }

    /*=style the first part of the card=*/
    /* show the specific parte of the image */
    .frame .nft-img-container{
        overflow: hidden;
        aspect-ratio: 4/3;
        border-radius: 1.25rem 1.25rem 0 0;
    }
    
    .frame .nft-img-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    /*=style the second parte of the card=*/
    .discover-nft-info{
        padding: 1.25rem 1.25rem 1.5625rem 1.25rem;
    }

    .discover-nft-info .collection-info{
        margin-bottom: 1.5625rem;
    }

    .discover-nft-info .additional-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .additional-info p{
        font-family: var(--Accesent);
        font-size: var(--Accesent-fs);
        color: var(--Coption-and-Label-text);
    }

    .additional-info p span{
        color: var(--Text);
    }

    .additional-info .heightes-bid p span{
        float: right;
    }

    /* position the first card */
    .frame li:nth-child(1){
        grid-column: 1/13;
        grid-row: 1/2;
    }

    /* position the second card */
    .frame li:nth-child(2){
        grid-column: 1/13;
        grid-row: 2/3;
    }
    /* position also the third card or the laste */
    .frame li:nth-child(3){
        grid-column: 1/13;
        grid-row: 3/4;
    }

    /* position the see all button and syle them */
    .see-all-btn{
        grid-column: 1/13;
        grid-row: 3/4;
    }

    .see-all-btn a{
        border: 2px solid var(--Call-to-action) ;
        transition: all 300ms ease-out;
    }

    .see-all-btn a:is(:hover, :active){
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
        transform: scale(.87);
    }

    .see-all-btn a img{
        width: 1.25rem;
        aspect-ratio: 1/1;
        filter: invert(49%) sepia(65%) saturate(5588%) hue-rotate(243deg) brightness(102%) contrast(101%);
    }


    /*##################################\
            #NFT in auction
    \##################################*/
    #nft-in-auction{/*give this section a background image width linear gradient on top of the image */
        gap: var(--gap-of-30);
        background-image:linear-gradient(180deg, #a259ff00 0%, #A259FF 100%), 
        url(../assets/Screen=Mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* style the artist card */
    #nft-in-auction .artist-card{
        grid-column: 1/13;
        grid-row: 4/5;
        background-color:var(--Secondary-background);
        padding: .625rem 1.25rem;
        display: flex;
        column-gap: .75rem;
        max-width: 9.4375rem;
        max-height: 2.75rem;
        border-radius: var(--pic-radius);
        transition: all .06ms ease-out;
    }

    /* make the artist card interactiv when it's hove overed or clicked */
    #nft-in-auction .artist-card:is(:hover, :active){
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
        transform: scale(1.03);
    }

    #nft-in-auction .artist-card img{
        width: 1.5rem;
        aspect-ratio: 1/1;
    }

    /* position the headlin */
    #nft-in-auction .headlin{
        grid-column: 1/13;
        grid-row: 5/6;
    }

    /* remove the margin from the bottom of h2 headlin */
    #nft-in-auction .headlin h2{
        font-size: var(--Auction-header);
        line-height: var(--Accesent-line-height);
        margin-bottom: 0;
    }

    /* style the auction timer */
    #nft-in-auction .auction-timer{
        grid-column: 1/13;
        grid-row: 6/7;
        background-color: var(--Action-timer-bg);
        padding: 1.875rem;
        border-radius: var(--pic-radius);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }

    #nft-in-auction .auction-timer p{
        font-family: var(--Accesent);
        font-size: var(--Accesent-fs);
    }

    #nft-in-auction .auction-timer .leading{
        font-size: var(--Accesent-fs);
        margin-bottom: var(--margin-buttom-h);
    }

    #nft-in-auction .auction-timer .timer{
        display: flex;
        justify-content: space-between;
    }

    #nft-in-auction .auction-timer .timer li{
        text-align: center;
    }

    #nft-in-auction .auction-timer .timer h2{
        font-size: 2.375rem;
    }


    /* style the see nft link */

    #nft-in-auction .see-nft-btn{
        grid-column: 1/13;
        grid-row: 7/8;
    }
    
    .see-nft-btn a{
        background-color: var(--Text);
        border-radius: var(--pic-radius);
        transition: all 300ms ease-out;
    }

    /* make the link interactive */
    .see-nft-btn a:is(:hover, :active){
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
        transform: scale(.87);
    }

    .see-nft-btn a img{
        width: 1.25rem;
        aspect-ratio: 1/1;
        filter: invert(49%) sepia(65%) saturate(5588%) hue-rotate(243deg) brightness(102%) contrast(101%);
    }

    .see-nft-btn a p{
        color: var(--Primary-background);
        font-weight: var(--Primary-header-fw);
    }
    

    /*##################################\
                #How it works
    \##################################*/
    #How-it-works{
        grid-template-rows: minmax(71px 91px) 1fr;
        row-gap: var(--gap-bottom);
    }

    /* sytle list of steps and position it */
    .steps-list{
        grid-column: 1/13;
        grid-row: 2/3;
        /* for giving the list of stops specific
         number of rows be cause its als a grid container */
        grid-template-rows: auto;
        gap: var(--gap-of-20);
    }
     
    /* also style the list childs and position them */
    .steps-list li{
        background-color: var(--Secondary-background);
        padding: 1.25rem;
        border-radius: var(--pic-radius);
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: var(--gap-of-20);
    }

    /* size the icons */
    .steps-list li img{
        min-width: 6.25rem;
        aspect-ratio: 1/1;
    }

    /* style the steps description */

    li .step-description h4{
        font-size: var(--Leading-fs);
        font-weight: var(--Primary-header-fw);
        margin-bottom: var(--margin-buttom-h);
    }

    li .step-description p{
        font-size: var(--Accesent-fs);
        line-height: 140%;
        min-width: 9.6875rem;
    }

    .steps-list li:nth-child(1){
        grid-column: 1/13;
        grid-row: 1/2;
    }

    .steps-list li:nth-child(2){
        grid-column: 1/13;
        grid-row: 2/3;
    }

    .steps-list li:nth-child(3){
        grid-column: 1/13;
        grid-row: 3/4;
    }


     /*##################################\
             #Subscribe widget
    \##################################*/
    /* add specific rows to the grid */
    .widget-wrapper{
        row-gap: var(--gap-bottom);
        position: relative;
    }

    /* position and styling the picture and positioning them */
    #Subscribe-widget .pic{
        grid-column: 1/13;
        grid-row: 1/2;
    }

    #Subscribe-widget .pic img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    /* positioning the headlin on the second row */
    #Subscribe-widget .headlin{
        grid-column: 1/13;
        grid-row: 2/3;
    }

    /* also positioning the form and styling them */
    #Subscribe-widget form{
        grid-column: 1/13;
        grid-row: 3/4;
    }

    /* indesplay the input that haves placeholder whit value of enter your email here */
    #email1-2{
        display: none;
    }

    /* button and input */
    input[type = text],
    #subscribe-btn{
        border-radius:var(--pic-radius);
        width: 100%;
    }
    
    /* styling the email filed */
    input[type = text]{
        padding: .84375rem 1.25rem;
        background-color: var(--Text);
        color: var(--Primary-background);
    }
    
    input[type = text]::placeholder{
        color: var(--Primary-background);
        font-size: 1rem;
    }
    
    input[type = text]:focus{
        outline:none ;
    }
    
    /* styling the subscribe button */
    #subscribe-btn{
        justify-content: center;
        background-color: var(--Call-to-action);
        /* border: none; */
        padding: .7375rem;
        margin-top: 1rem;
        transition: all 200ms ease-out;
    }

    #subscribe-btn:is(:hover, :active){
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        transform: scale(.92);
    }

    #subscribe-btn p{
        color: var(--Text);
        font-family: var(--Primary);
        /* font-size: var(--Leading-fs); */
        font-size: 1rem;
        font-weight: var(--Primary-header-fw);
    }

    #subscribe-btn img{
        width: 1.25rem;
        aspect-ratio: 1/1;
    }

    /* style the error message */
    #error-message{
        color: #f96262;
        font-family: var(--Accesent);
        font-size: .8rem;
        font-weight: var(--Primary-header-fs);
        text-align: center;
        padding-inline: 1.19rem;
        margin-top: var(--margin-buttom-h);
    }

    /* style the success notification */
    .alert{
        /* for center */
	    Position:absolute;
	    top:50%;
	    left:50%;
	    Transform: translate(-50%,-50%);
        background:linear-gradient(100.92deg, #A259FF 13.57%, #FF6250 97.65%);
        padding: var(--gap-of-30);
        width: 90%;
        max-width: 20rem;
        border-radius: var(--pic-radius);
        display: none;
    }
    .alert h3{
        margin-bottom: var(--margin-buttom-h);
    }

    .alert p{
        font-family: var(--Accesent);
    }

    .alert #close{
        position: absolute;
        top: .875rem;
        right: .875rem;
        width: 1.5rem;
        border-radius: 50%;
        transition: all .1ms ease ease-out;
    }

    .alert #close:is(:hover, :active){
        box-shadow: 0 0 20px rgba(31, 27, 27, 0.829);
        transform: scale(.8);
    }

    .alert #close img{
        width: 100%;
        aspect-ratio: 1/1;
    }

    /*##################################\
                    #Footer
    \##################################*/
    #footer-info{
        padding: var(--Sections-pad);
        background-color: var(--Secondary-background);
        row-gap: var(--gap-bottom);
    }
    /* Positioning the headling and style them */
    .footer-headlin{
        grid-column: 1/13;
        grid-row: 1/2;
    }

    /* give some margin on the bottom of logo */
    .footer-headlin .logo{
        margin-bottom: var(--gap-of-20);
    }

    .footer-headlin .logo img{
        width: 2rem;
        aspect-ratio: 1/1;
    }

    .footer-headlin .logo h1{
        font-size: 1.3rem;
    }

    /* style the additional info */
    .additional-info p{
        font-family: var(--Primary);
        color: var(--Footer-text);
    }

    .additional-info p{
        font-size: var(--avatar-name);
    }
    
    /* position the explore and styling them */
    .Explore{
        grid-column: 1/13;
        grid-row: 2/3;
    }

    #footer-info h4{
        font-family: var(--Accesent);
        font-weight: var(--Secondary-header-fw);
        margin-bottom: var(--gap-of-20);
    }

    .Explore .pages li{
        font-size: var(--avatar-name);
        font-weight: var(--Leading-w);
        color: var(--Footer-text)
    }

    .Explore .pages li:nth-child(1),
    .Explore .pages li:nth-child(2){
        margin-bottom: var(--gap-of-20);
    }

    .Explore .pages a:is(:hover, :active){
        color: var(--Call-to-action);
    }

    /* styling and positioning cummunity */
    #footer-info .cummunity{
        grid-column: 1/13;
        grid-row: 3/4;
    }

    .cummunity .social{
        display: flex;
        column-gap: var(--margin-buttom-h);
    }

    .cummunity .social li{
        width: 2rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        transition: all .3s ease-out;
    }

    .cummunity .social li:is(:hover, :active){
        box-shadow:  0 0 6px rgba(80, 78, 78, 0.945);
        transform: scale(.8);
    }


    /* styling and poistioning copyright */
    .copyright{
        grid-column: 1/13;
        grid-row: 4/5;
        border-top: 2px solid #858584;
    }

    .copyright P{
        margin-top: var(--gap-of-20);
        font-size: var(--Accesent-fs);
    }






 /*=========================================*\
        #LARGE TABLET && LAPTOP STYLE
\*=========================================*/
@media screen and (min-width: 52.125rem){
    :root{
        /*==Typograpgy==*/

           /*-Size-*/
           --Main-header-fs:       2.375rem;

          /*-Line height-*/
          --Mian-heading-line-height: 120%;

        /*==Paddings && Margins==*/
       
           /*-Padding-*/
           --Sections-pad: 5rem 4.5rem;
           --Nav-pad:      .9375em 3.125rem;

           /*-Margin*/
           --margin-buttom-main-h : 1.25rem;


    }

     /*##################################\
                #Hero Section
    \##################################*/
    #hero-section{
        grid-template-rows: min(154px) 1fr max(60px) minmax(57px 77px);
        column-gap: var(--gap-of-30);
        row-gap: var(--gap-of-20);
    }

    /*-discreption-*/
    .main-headlin{
        grid-column: 1/7;
        grid-row: 1/2;
    }

    .main-headlin .main-heading{
        font-size: var(--Main-header-fs);
        line-height: var(--Mian-heading-line-height);
        margin-bottom: var(--margin-buttom-main-h);
    }

    /*-highlighted-nft-*/
    .highlighted-nft{
        width: 100%;
        aspect-ratio: 1/.9;
        grid-column: 7/13;
        grid-row: 1/4;
        margin-bottom: 3.1875rem;
    }

    .highlighted-nft .card-img-wrapper{
        overflow: hidden;
        aspect-ratio: 4/2.7;
        border-radius: 20px 20px 0 0;
    } 

    .highlighted-nft .card-img-wrapper img{
        width: 100%;
        aspect-ratio: 1/1;
    }
    
    .highlighted-nft .info{
        padding: 22px 20px;
        display: block;
    }

    /*-get-started-btn-*/
    .get-started-btn{
        grid-column:1/7;
        grid-row: 2/3;
        max-width: 70%;
    }


    /*-additional-info-*/
    .additional-info{
        grid-column: 1/7;
        grid-row: 3/4;
        
    }

    .info li{
        padding-right: 1.125rem;
    }



     /*##################################\
            #Trending Collection
    \##################################*/
        /* style the sliders */
        .sliders{
            column-gap: var(--gap-of-30);
        }

        /* postion the the fitst slider */
        #first-slider{
            grid-column: 1/7;
            grid-row: 1;
        }

        /*--Position links and style them--*/
        .collection-card .first-child img{
            width: 100%;
            max-width: 20.625rem;
        }

        .collection-card .second-child{
            grid-column: 1/5;
            grid-row: 2/3;
        }

        .collection-card .third-child{
            grid-column: 5/9;
            grid-row: 2/3;
        }

        .collection-card .fort-child{
            grid-column: 9/13;
            grid-row: 2/3;
        }
        
        /* increase the width  to 5px */
        .collection-card .second-child,
        .collection-card .third-child,
        .collection-card .fort-child{
            width: 100%;
            max-width: 6.25rem;
        }
        
        .collection-card .fort-child p{
            font-size: 1.375rem;
        
        }

        /* postion the the second slider and display them */
        #second-slider{
            display: block;
            grid-column: 7/13;
            grid-row: 1;
        }
    

    /*##################################\
            #Top Rated Artists
    \##################################*/
    /* display grid for the */
    #Top-Rated-Artists{
        gap: var(--gap-bottom);
    }
    /* style top rated artists header */
    .headlin-section{
        grid-column: 1/7;
        grid-row: 1/2;
    }

    
    /* style view rankings button */
    
    .view-rankings-btn{
        grid-column: 7/13;
        grid-row: 1/2;
        align-self: flex-end;
        justify-self: end;
    }

    .view-rankings-btn a{
        padding: 1.1875rem 1.75rem;
    }
    /* style top rated artist main  */
    .artist-card-row{
        grid-column: 1/13;
        grid-row: 2/3;
        margin-bottom: 0;
        grid-template-rows: 1fr 1fr 1fr; 
        gap: var(--gap-of-20);
    } 
    
    /* reposition the first three ranks on the left side */
    .ranck1,
    .ranck2,
    .ranck3{
        grid-column: 1/7;
    }

    .ranck1{
        grid-row: 1/2;
    }

    .ranck2{
        grid-row: 2/3;
    }

    .ranck3{
        grid-row: 3/4;
    }

    /* display the sixth ranck */
    .ranck6{
        display: block;
        grid-row: 3/4;
    }
    
    /* reposition the first three ranks on the right side */
    .ranck4,
    .ranck5,
    .ranck6{
        grid-column: 7/13;
        grid-row: auto;
    }
    .ranck4{
        grid-row: 1/2;
    }

    .ranck5{
        grid-row: 2/3;
    }
    /* set the content of the ranck to 6 */

    .artist-card-row  a .image6::before{
        content: "6";
    }


    /*##################################\
            #Browse Categories
    \##################################*/

    /* position each category on her position */
    /* first row */
    .category-cards .card-1{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .category-cards .card-2{
        grid-column: 4/7;
        grid-row: 1/2;
    }

    .category-cards .card-3{
        grid-column: 7/10;
        grid-row: 1/2;
    }

    .category-cards .card-4{
        grid-column: 10/13;
        grid-row: 1/2;
    }
     
    /* second row */
   .category-cards .card-5{
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .category-cards .card-6{
        grid-column: 4/7;
        grid-row: 2/3;
    }

    .category-cards .card-7{
        grid-column: 7/10;
        grid-row: 2/3;
    }

    .category-cards .card-8{
        grid-column: 10/13;
        grid-row: 2/3;
    }

    /*##################################\
            #Discover more NFTs
    \##################################*/
    /* specifying the number of rows and the gape */
    #discover-more-Nfts{
        grid-template-rows: auto;
        row-gap: var(--gap-bottom);
    }

    /* position the headlin */
    #discover-more-NFTs .headlin{
        grid-column: 1/7;
        grid-row: 1/2;
    }
    
    .see-all-btn{
        grid-column: 7/13;
        grid-row: 1/2;
        align-self: flex-end;
        justify-self: end;
    }

    .see-all-btn a{
        padding: 1.1875rem 1.75rem;
    }

    /* position ul */
    .frame{
        grid-column: 1/13;
        grid-row: 2/3;
        gap: var(--gap-of-20);
    }

     /* position the first card */
     .frame li:nth-child(1){
        grid-column: 1/7;
        grid-row: 1/2;
    }

    /* position the second card */
    .frame li:nth-child(2){
        grid-column: 7/13;
        grid-row: 1/2;
    }
    /* position also the third card or the laste */
    .frame li:nth-child(3){
        display: none;
    }
    
    /*=style the first part of the card=*/
    /* show the specific parte of the image */
    .frame .nft-img-container{
        overflow: hidden;
        aspect-ratio: 4/3.4;
        border-radius: 1.25rem 1.25rem 0 0;
    }
    
    /* increas the span font size */
    .additional-info p span{
        font-size: 1rem;
    }

    /*##################################\
            #Discover more NFTs
    \##################################*/
    #nft-in-auction{/*give this section a background image width linear gradient on top of the image */
        grid-template-rows: 360px 1fr 1fr 1fr;
        row-gap: var(--gap-of-30);
        column-gap: 0;
    }
    /* style the artist card */
    #nft-in-auction .artist-card{
        grid-column: 1/13;
        grid-row: 2/3;
    }

    /* position the headlin */
    #nft-in-auction .headlin{
        grid-column: 1/8;
        grid-row: 3/4;
    }
    
    /* position the see nft link */
    #nft-in-auction .see-nft-btn{
        grid-column: 1/7;
        grid-row: 4/5;
        justify-self: start;
    }
    
    #nft-in-auction .see-nft-btn a{
        padding: 1.1875rem 3.125rem;
    }

    /* position the auction timer */
    #nft-in-auction .auction-timer{
        grid-column: 8/13;
        grid-row: 3/5;
        align-self: flex-end;
        justify-self: end;
        width: 295px;
    }


    /*##################################\
                #How it works
    \##################################*/
    /* sytle list of steps and position it */
   .steps-list{
        grid-column: 1/13;
        grid-row: 2/3;
        /* for giving the list of stops specific
         number of rows be cause its als a grid container */
        gap: var(--gap-of-30);
    }

    /* also style the list childs and position them */
    .steps-list li{
        background-color: var(--Secondary-background);
        padding: .625rem 1.25rem 1.875rem;
        border-radius: var(--pic-radius);
        display: flex;
        flex-direction: column;
        row-gap: var(--gap-of-20);
    }

    /* size the icons */
    .steps-list li img{
        width: 10rem;
        aspect-ratio: 1/1;
    }

    li .step-description p{
        width: 10.875rem;
    }

    /* style the steps description */
    li .step-description{
        text-align: center;
    }

    /* position steps lis */
    .steps-list li:nth-child(1){
        grid-column: 1/5;
        grid-row: 1/2;
    }

    .steps-list li:nth-child(2){
        grid-column: 5/9;
        grid-row: 1/2;
    }

    .steps-list li:nth-child(3){
        grid-column: 9/13;
        grid-row: 1/2;
    }

    /*##################################\
             #Subscribe widget
    \##################################*/
    /* add specific rows to the grid */
    .widget-wrapper{
        column-gap: var(--gap-of-30);
        background-color: var(--Secondary-background);
        border-radius: var(--pic-radius);
        padding: 2.5rem 1.875rem;
    }

    /* position and styling the picture and positioning them */
    #Subscribe-widget .pic{
        grid-column: 1/7;
        grid-row: 1/3;
    }

    #Subscribe-widget .pic img{
        max-width: 18.75rem;
        max-height: 17.5rem;
        border-radius: var(--pic-radius);
    }

    /* positioning the headlin on the second row */
    #Subscribe-widget .headlin{
        grid-column: 7/13;
        grid-row: 1/2;
    }

    /* also positioning the form and styling them */
    #Subscribe-widget form{
        grid-column: 7/13;
        grid-row: 2/3;
    }

}



/*=========================================*\
        #DESKTOP && LARGE SCREENS
\*=========================================*/
@media screen and (min-width: 75rem){
    :root{
        /*==Typograpgy==*/
            /*-size-*/
            --h1-fs:                  1.6rem;
            --Main-header-fs:      4.1875rem;
            --Primary-header-fs:    2.375rem;
            --Auction-header:      3.1875rem;
            --Secondary-header-fs:   1.75rem;
            --Leading-fs:           1.375rem;

            /*-Line height-*/
            --Mian-heading-line-height: 110%;
            --line-height: 160%;


        /*==Padding && Margins*/
            /*-Padding*/
            --Nav-pad:      1.25rem 3.125rem;
    }

    /*##################################\
                #Navegation
    \##################################*/
    .navgation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--Nav-pad);
        position: relative;
        /* I want to make translate afect */
    }

    /*--logo--*/
    /* logo icone */
    .logo img{
        max-width: 2rem;
    }
    
    /* the liste of links its by default invisible */
    .nave{
        display: flex;
        column-gap: .625rem;
    }

    /* syle the menu button */
    #menu{
        display: none;
    }

    /*--nave links--*/
    .nave .marketplace,
    .nave .rankings,
    .nave .wallet{
        padding: .75rem 1.25rem;
        border-bottom: none;
        align-self: center;
    }

    .nave .marketplace:hover,
    .nave .marketplace:active,
    .nave .rankings:hover,
    .nave .rankings:active,
    .nave .wallet:hover,
    .nave .wallet:active{
        color: var(--Call-to-action);
        box-shadow: none;
    }

    /*--sign up button*/
    .nave .sign-up{
        margin-left: 0;
    }
    
    .nave .sign-up a{
        gap: .75rem;
        width: 100%;
        max-width: 9.5rem;
        padding-block: 1.1875em;
        padding-inline: 1.875em;
        margin-block: 0;
    }

    .nave .sign-up a{
        display: flex;
        align-items: center;
        width: 100%;
    }

     /*##################################\
                #Hero Section
    \##################################*/
    #hero-section{
        grid-template-rows: 1fr 60px minmax(57px 77px);
        column-gap: var(--gap-of-30);
        row-gap: var(--gap-bottom);
    }

    .highlighted-nft{
        margin-block: 1.8675rem;
        /* display: none; */
    }

    .highlighted-nft .card-img-wrapper{
        overflow: hidden;
        aspect-ratio: 4/3;
        border-radius: 20px 20px 0 0;
    } 

    /*-get-started-btn-*/
    .get-started-btn{
        grid-column:1/7;
        grid-row: 2/3;
        max-width: 44%;
    }

    .info li{
        padding-right: 4.7rem;
    }


    /*##################################\
            #Trending Collection
    \##################################*/
    /* repositon the first slider */
    #first-slider{
        grid-column: 1/5;
        grid-row: 1;
    }
    /* repositon the second slider */
    #second-slider{
        grid-column: 5/9;
        grid-row: 1;
    }

    /* repositon the first slider and display them */
    #third-slider{
        display: block;
        grid-column: 9/13;
        grid-row: 1;
    } 

    /*##################################\
            #Top Rated Artists
    \##################################*/
    /* reposition the headlin section */
    .headlin-section{
        grid-column: 1/8;
        grid-row: 1/2;
    }

    /* reposition view rankings button */    
    .view-rankings-btn{
        grid-column: 8/13;
        grid-row: 1/2;
    }

    .artist-card-row  a{
        display: flex;
        flex-direction: column;
        row-gap: var(--gap-of-20);
        justify-content: center;
    }
    
    .artist-card-row  a div:first-child{
        width: 7.5rem;
        aspect-ratio: 1/1;
        position: relative;
    }


    [class ^= image]::before{
        position: absolute;
        top: 0;
        left: -2.7rem;

    }
    
    .artist-card-row  a .image7::before{
        content: "7";
    }
    
    .artist-card-row  a .image8::before{
        content: "8";
    }
    
    .artist-card-row  a .image9::before{
        content: "9";
    }
    
    .artist-card-row  a .image10::before{
        content: "10";
    }

    .artist-card-row  a .image11::before{
        content: "11";
    }

    .artist-card-row  a .image12::before{
        content: "12";
    }

    .artist-card-row .artist-info{
        text-align: center;
    }

    .ranck7,
    .ranck8,
    .ranck9,
    .ranck10,
    .ranck11,
    .ranck12{
        display: block;
    }

    /* repositon the ranks */
    /* the first row */
    .ranck1{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .ranck2{
        grid-column: 4/7;
        grid-row: 1/2;
    }

    .ranck3{
        grid-column: 7/10;
        grid-row: 1/2;
    }

    .ranck4{
        grid-column: 10/13;
        grid-row: 1/2;
    }
    
    /* the second row */
    .ranck5{
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .ranck6{
        grid-column: 4/7;
        grid-row: 2/3;
    }

    .ranck7{
        grid-column: 7/10;
        grid-row: 2/3;
    }

    .ranck8{
        grid-column: 10/13;
        grid-row: 2/3;
    }

     /* the third row */
    .ranck9{
        grid-column: 1/4;
        grid-row: 3/4;
    }

    .ranck10{
        grid-column: 4/7;
        grid-row: 3/4;
    }

    .ranck11{
        grid-column: 7/10;
        grid-row: 3/4;
    }

    .ranck12{
        grid-column: 10/13;
        grid-row: 3/4;
    }
    
    /*##################################\
            #Browse Categories
    \##################################*/
    /* grive each element that have this part of class more height */
    [class ^= pic-container]{
        width: 100%;
        height: 76%;
    }
    
    /* resize the icone */
    .pic-card img{
        width: 6.25rem;
        aspect-ratio: 1/1;
        margin: 4.375rem;
    }

    /* grive some padding to category text */
    .category{
        padding: 1.25rem 1.875rem 1.5625rem 1.875rem;
    }

    /*##################################\
            #Discover more NFTs
    \##################################*/ 
    /* position the first card */
    .frame li:nth-child(1){
        grid-column: 1/5;
        grid-row: 1/2;
    }

    /* position the second card */
    .frame li:nth-child(2){
        grid-column: 5/9;
        grid-row: 1/2;
    }
    /* position also the third card or the laste */
    .frame li:nth-child(3){
        display: block;
        grid-column: 9/13;
        grid-row: 1/2;
    }

    /*##################################\
                #How it works
    \##################################*/

    .steps-list li{
        padding: .625rem 1.875rem 1.875rem;
    }
    /* size the icons */
    .steps-list li img{
        width: 15.625rem;
        aspect-ratio: 1/1;
    }


    li .step-description p{
        font-size: 1rem;
        width: 16.875rem;
    }

    .second .step-description {
        margin-bottom: 1.375rem;
    }

     /*##################################\
             #Subscribe widget
    \##################################*/
    /* add specific rows to the grid */
    .widget-wrapper{
        column-gap: 5rem;
        padding: 3.75rem;
    }

    /* increas the img size */
    #Subscribe-widget .pic img{
        max-width: 26.5625rem;
        max-height: 19.375rem;
        border-radius: var(--pic-radius);
    }

    /* also positioning the form and styling them */
    #Subscribe-widget form{
        grid-column: 7/13;
        grid-row: 2/3;
        position: relative;
    }

    /* indesplay the input that haves placeholder whit value of enter your email address */
    #email1-1{
        display: none;
    }

    /* desplay the input that haves placeholder whit value of enter your email here */
    #email1-2{
        display: block;
    }

    .widget-wrapper input[type = text]{
        padding: 1.28125rem 13.5rem 1.28125rem 1.25rem;
        max-width: 98%;
    }
    
    /* styling the subscribe button */
    .widget-wrapper #subscribe-btn{
        justify-content: center;
        padding: 1.075rem 3.125rem;
        margin-top: 0;
        max-width: 13.1875rem;
        justify-content: end;
        position: absolute;
        top: 0;
        right: .1em;
    }

    .alert{
        width: 90%;
        max-width: 24rem;
    }


    /*##################################\
                    #Footer
    \##################################*/
    #footer-info{
        column-gap: var(--gap-of-30);
    }

     /* Positioning the headling  */
     .footer-headlin{
        grid-column: 1/5;
        grid-row: 1/2;
    }

    .footer-headlin p {
        max-width: 24ch;
    }

    /* position the explore  */
   .Explore{
        grid-column: 5/8;
        grid-row: 1/2;
    }

    /* styling and positioning subscribe */
    #footer-info .cummunity{
        grid-column: 8/13;
        grid-row: 1/2;
    }

    /*  poistioning copyright */
    .copyright{
        grid-column: 1/13;
        grid-row: 2/3;
    }
}