/*=========================================*\
              #CUSTOM PROPERTYS
\*=========================================*/
:root{
    
        /*==Colors==*/
       
           /*-Background-*/
           --Primary-background:   #2B2B2B;
           --Secondary-background: #3B3B3B;
           --Action-timer-bg: rgba(59, 59, 59, 0.5);
       
           /*-Tex-*/
           --Text:                   #ffffff;
           --Footer-text:            #CCCCCC;
           --Coption-and-Label-text: #858584;
       
           /*-Buttons-*/
           --Call-to-action:         #A259FF;
       
           /*-Error message-*/
           --Error-message:#f96262;
       
       /*==Typograpgy==*/
            /*-Font family-*/
            --Primary: 'Work Sans', sans-serif;
            --Accesent: 'Space Mono', sans-serif;

           /*-Size-*/
           --Primary-fs    :          1.375rem;
           --Main-header-fs:          2.375rem; 
           --Leading-fs:                 1rem;
           --avatar-name:                1rem;
           --Accesent-fs:             0.75rem;
           
           
           /*-Weight-*/
           --Primary-header-fw:     600;
           --Leading-w:             400;
           
           /*-Line height-*/
           --line-height:              140%;
    
       
       /*==Paddings && Margins==*/
       
           /*-Margin-*/
           --margin-bottom-main-h   : 1.25rem;
           --headlin-margin-bottom  : 1.875rem;
           --margin-of-30           : 1.875rem;
           
       /*==Gap==*/
           --gap-of-20: 1.25rem;

        /*==Border radius==*/
           --pic-radius: 20px;
       }

/*=========================================*\
                       #RESET
\*=========================================*/
   *, 
   *::after,
   *::before{
       padding: 0;
       margin:  0;
       box-sizing: border-box;
   }
   
   li{
       list-style: none;
       color: inherit;
   }
   
   a{
       text-decoration: none;
       color: inherit;
   }
   
   button,
   input{
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       background-color: transparent;
       border: none;
       cursor: pointer;
   }
   
   img {
       display: block;
       max-width: 100%;
   }
   


/*=========================================*\
                #TYPOGRAPHY
\*=========================================*/
.main-heading{
    font-size:  var(--Main-header-fs);
    font-weight: var(--Primary-header-fw);
}

.main-headlin .leading{
    font-size: var(--Leading-fs);
    font-weight: var(--Leading-w);
    line-height: var(--line-height);
}

input{
    font-size: var(--avatar-name);
    font-weight: var(--Leading-w);
}

input::placeholder{
    font-size: var(--avatar-name);
    font-weight: var(--Leading-w);
}

input[type = submit]{
    font-weight: var(--Primary-header-fw);
}

button p{
    font-size: var(--Primary-fs);
    font-weight: var(--Primary-header-fw);
    font-family: var(--Primary);
}


/*=========================================*\
                    #REUSED
\*=========================================*/
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.flex{
    display: flex;
    align-items: center;
    column-gap: var(--gap-of-20);
}

/*=========================================*\
                 #MOBILE SYLE
\*=========================================*/
    /*##################################\
              #Connect a Wallet
    \##################################*/
    /*=-Placeholder-=*/
    /* postion the image container */
    .image-container{
        grid-column: 1/13;
        grid-row: 1/2;
    }

    /* show the specific part of the picture */
    .image-wrapper{
        overflow: hidden;
        width: 100%;
        aspect-ratio: 4/2.6;
    }

    .image-wrapper img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    /*=-Connect wallet-=*/
        
    /* positon the creat acount form and give a bit of padding */
    .connect-wallet{
        grid-column: 1/13;
        grid-row: 2/3;
        padding: 1.875rem 1.875rem 2.5rem;
    }

    /*-headlin-*/

    /* give a bit of padding to the main-headlin and main-heading */
    .main-headlin{
        margin-bottom: var(--headlin-margin-bottom);
    }

    .main-heading{
    margin-bottom: var(--margin-bottom-main-h);
    }

    /*-wallet options-*/
    /* give the wallet options row gap */
    .wallet-options{
        row-gap: var(--gap-of-20);
    }

    /* styling and positoning the metamask wallet button */
    #metamask,
    #walletconnect,
    #coinbase{
        background-color: var(--Secondary-background);
        border: 1px solid var(--Call-to-action);
        border-radius: var(--pic-radius);
        padding: .8125rem 1.25rem .8125rem 2.5rem;
        color: var(--Text);
    }

    #metamask:is(:hover, :active),
    #walletconnect:is(:hover, :active),
    #coinbase:is(:hover, :active){
        transform: scale(.99);
        box-shadow: 0 0 10px rgba(31, 27, 27, 0.829);
    }

    #metamask img,
    #walletconnect img,
    #coinbase img{
        width: 2rem;
        aspect-ratio: 1/1;
    }

    #metamask{
        grid-column: 1/13;
        grid-row: 1/2;
    }

    /* styling and positoning the connect wallet option button */
    #walletconnect{
        grid-column: 1/13;
        grid-row: 2/3;
    }

    /* styling and positoning the coinbase wallet button */
    #coinbase{
        grid-column: 1/13;
        grid-row: 3/4;
    }



/*=========================================*\
            #SMALL TABLET STYLE
\*=========================================*/
@media screen and (min-width: 52.125rem){
    :root{
         /*==Paddings==*/
            /*-Margin-*/
            --headlin-margin-bottom  : 2.5rem;
        
        /*==Gap==*/
            --column-gap             : 2.5rem;

    }

     /*##################################\
              #Creat Acount
    \##################################*/
    /* add column gap to container */
    #Connect-a-wallet{
        column-gap: var(--column-gap);
    }

    /* postion the image container */
    .image-container{
        grid-column: 1/7;
        grid-row: 1/2;
    }

    /* show the specific part of the picture */
    .image-wrapper{
        overflow: hidden;
        width: 100%;
        aspect-ratio: 4/4.9;
    }

    /* positon the creat acount form and give a bit of padding */
    .connect-wallet{
        grid-column: 7/13;
        grid-row: 1/2;
        padding:0;
        align-self: center;
        /* justify-self: start; */
    }

    /* give input a max width */
    #metamask,
    #walletconnect,
    #coinbase{
        max-width: 20rem;
        padding-block: 1.0875rem;
    }
}


@media screen and (min-width: 75rem){
    :root{
        /*==Typography==*/
        /*-Size-*/
         --Main-header-fs:          3.1875rem;
         --Leading-fs:               1.375rem;

        /*-Line height-*/
        --line-height:              160%;

        /*==Gap==*/
        --column-gap             : 3.75rem;

    }

     /* postion the image container */
     .image-container{
        grid-column: 1/7;
        grid-row: 1/2;
    }

    /* positon the creat acount form and give a bit of padding */
    .creat-acount-form{
        grid-column: 7/13;
        grid-row: 1/2;
        padding:0;
        align-self: center;
        justify-self: start;
    }

    /* give input a max width */
    input{
        max-width: 20.625rem;
    }
}

